body {
    margin: 0;
    font-family: Arial;
    background-color: #f0f0f0;
}

nav {
    background-color: black;
    color: white;
    padding: 15px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}